<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html lang="en">
{% load staticfiles %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
<head>
    <title>automation platform</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" charset="utf-8">
</head>

</ul>
<ul class="nav navbar-nav navbar-right">
    <li>Welcome,<a href="#">{{ user }}</a></li>
    <li><a href="/logout/">Logout</a></li>
</ul>
</body>
</noframe>
</html>