
<html>
{% load staticfiles %}
<html lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css" charset="utf-8">
    <title>QA Automation platform</title>
</head>
<body>
<h1>login</h1>
<form method="post" action="/login/">
{% csrf_token %}
<br><a>&nbsp;&nbsp;username:</a><input name="username" type="text" placeholder="username">
<br><a>&nbsp;&nbsp;password:</a><input name="password" type="password" placeholder="password">
{{ error }}<br>
<br> <button id="submit" type="submit">submit</button>
</form>
</body>
</html>